name: thunder
description: An open-source cross-platform Lemmy client for iOS and Android built with Flutter
publish_to: 'none'
version: 0.1.0-alpha

environment:
  sdk: '>=3.1.0-116.0.dev <4.0.0'

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter
  lemmy:
    git:
      url: https://github.com/hjiangsu/lemmy-dart.git
      ref: 0.1.4-alpha 
  cupertino_icons: ^1.0.2
  bloc: ^8.1.2
  flutter_bloc: ^8.1.3
  equatable: ^2.0.5
  flutter_dotenv: ^5.1.0
  cached_network_image: ^3.2.3
  url_launcher: ^6.1.11
  flutter_markdown: ^0.6.15
  stream_transform: ^2.1.0
  bloc_concurrency: ^0.2.2
  flutter_launcher_icons: ^0.13.1
  dio: ^5.2.1+1
  shared_preferences: ^2.1.2
  markdown_editable_textinput: ^2.2.0
  html: ^0.15.4
  http: ^0.13.6
  auto_size_text: ^3.0.0
  json_theme: ^6.0.0
  go_router: ^8.0.3
  yaml: ^3.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - .env
    - assets/logo.png
    - assets/logo_background.png
    - assets/themes/black.json

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
