<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baseflow.permissionhandler">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:label="Thunder"
        android:name="${applicationName}"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/launcher_icon"
        android:networkSecurityConfig="@xml/network_security_config"
        >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- support sharing images -->
             <intent-filter
                 android:label="@string/create_post">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <!--support sharing text --> 
            <intent-filter
                android:label="@string/create_post">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>


            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data android:scheme="https"/>
              <!--#AUTO_GEN_INSTANCE_LIST_DO_NOT_TOUCH#-->
              <data android:host="ani.social" />
              <data android:host="aussie.zone" />
              <data android:host="awful.systems" />
              <data android:host="bakchodi.org" />
              <data android:host="beehaw.org" />
              <data android:host="burggit.moe" />
              <data android:host="dataterm.digital" />
              <data android:host="delraymisfitsboard.com" />
              <data android:host="discuss.online" />
              <data android:host="discuss.tchncs.de" />
              <data android:host="exploding-heads.com" />
              <data android:host="feddit.ch" />
              <data android:host="feddit.cl" />
              <data android:host="feddit.de" />
              <data android:host="feddit.dk" />
              <data android:host="feddit.it" />
              <data android:host="feddit.nl" />
              <data android:host="feddit.nu" />
              <data android:host="feddit.uk" />
              <data android:host="geddit.social" />
              <data android:host="hexbear.net" />
              <data android:host="infosec.pub" />
              <data android:host="iusearchlinux.fyi" />
              <data android:host="jlai.lu" />
              <data android:host="lemdro.id" />
              <data android:host="lemm.ee" />
              <data android:host="lemmings.world" />
              <data android:host="lemmus.org" />
              <data android:host="lemmy.blahaj.zone" />
              <data android:host="lemmy.ca" />
              <data android:host="lemmy.dbzer0.com" />
              <data android:host="lemmy.eco.br" />
              <data android:host="lemmy.fmhy.ml" />
              <data android:host="lemmy.kya.moe" />
              <data android:host="lemmy.ml" />
              <data android:host="lemmy.nz" />
              <data android:host="lemmy.one" />
              <data android:host="lemmy.sdf.org" />
              <data android:host="lemmy.today" />
              <data android:host="lemmy.whynotdrs.org" />
              <data android:host="lemmy.world" />
              <data android:host="lemmy.wtf" />
              <data android:host="lemmy.zip" />
              <data android:host="lemmygrad.ml" />
              <data android:host="lemmynsfw.com" />
              <data android:host="lemy.lol" />
              <data android:host="mander.xyz" />
              <data android:host="midwest.social" />
              <data android:host="monero.town" />
              <data android:host="pawb.social" />
              <data android:host="programming.dev" />
              <data android:host="reddthat.com" />
              <data android:host="sh.itjust.works" />
              <data android:host="slrpnk.net" />
              <data android:host="social.fossware.space" />
              <data android:host="sopuli.xyz" />
              <data android:host="startrek.website" />
              <data android:host="szmer.info" />
              <data android:host="thelemmy.club" />
              <data android:host="ttrpg.network" />
              <data android:host="vlemmy.net" />
              <data android:host="waveform.social" />
              <data android:host="www.hexbear.net" />
              <!--#INSTANCE_LIST_END#-->
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
