{
  "openapi": "3.0.3",
  "info": {
    "title": "Unofficial Lemmy OpenAPI Documentation",
    "version": "v0.19.11",
    "license": {
      "name": "AGPLv3",
      "url": "https://www.gnu.org/licenses/agpl-3.0.en.html#license-text"
    },
    "x-logo": {
      "url": "https://raw.githubusercontent.com/LemmyNet/lemmy-ui/main/src/assets/icons/favicon.svg",
      "altText": "Lemmy Icon",
      "href": "https://github.com/MV-GH/lemmy_openapi_spec"
    },
    "contact": {
      "url": "https://github.com/MV-GH/lemmy_openapi_spec"
    }
  },
  "servers": [
    {
      "url": "https://lemmy.ml/api/v3"
    },
    {
      "url": "https://enterprise.lemmy.ml/api/v3"
    },
    {
      "url": "https://ds9.lemmy.ml/api/v3"
    },
    {
      "url": "https://voyager.lemmy.ml/api/v3"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "cookieAuth": []
    }
  ],
  "paths": {
    "/site": {
      "get": {
        "summary": "Gets the site, and your user data.",
        "tags": [
          "Site"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Site"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponse"
                }
              }
            }
          }
        },
        "summary": "Create your site."
      },
      "put": {
        "summary": "Edit your site.",
        "tags": [
          "Site"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditSite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/modlog": {
      "get": {
        "summary": "Get the modlog.",
        "tags": [
          "Miscellaneous"
        ],
        "parameters": [
          {
            "name": "GetModlog",
            "explode": true,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetModlog"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetModlogResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Miscellaneous"
        ],
        "summary": "Search lemmy.",
        "parameters": [
          {
            "name": "Search",
            "in": "query",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/Search"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/resolve_object": {
      "get": {
        "tags": [
          "Miscellaneous"
        ],
        "parameters": [
          {
            "name": "ResolveObject",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ResolveObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveObjectResponse"
                }
              }
            }
          }
        },
        "summary": "Fetch a non-local / federated object."
      }
    },
    "/community": {
      "get": {
        "tags": [
          "Community"
        ],
        "parameters": [
          {
            "name": "GetCommunity",
            "explode": true,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetCommunity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommunityResponse"
                }
              }
            }
          }
        },
        "summary": "Get / fetch a community."
      },
      "post": {
        "tags": [
          "Community"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        },
        "summary": "Create a new community."
      },
      "put": {
        "tags": [
          "Community"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        },
        "summary": "Edit a community."
      }
    },
    "/community/hide": {
      "put": {
        "tags": [
          "Community",
          "Admin"
        ],
        "summary": "Hide a community from public / \"All\" view. Admins only.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HideCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/community/list": {
      "get": {
        "tags": [
          "Community"
        ],
        "parameters": [
          {
            "name": "ListCommunities",
            "in": "query",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/ListCommunities"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCommunitiesResponse"
                }
              }
            }
          }
        },
        "summary": "List communities, with various filters."
      }
    },
    "/community/follow": {
      "post": {
        "tags": [
          "Community"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FollowCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        },
        "summary": "Follow / subscribe to a community."
      }
    },
    "/community/block": {
      "post": {
        "tags": [
          "Community"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockCommunityResponse"
                }
              }
            }
          }
        },
        "summary": "Block a community."
      }
    },
    "/community/delete": {
      "post": {
        "tags": [
          "Community"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        },
        "summary": "Delete a community."
      }
    },
    "/community/remove": {
      "post": {
        "tags": [
          "Community",
          "Mod"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        },
        "summary": "A moderator remove for a community."
      }
    },
    "/community/transfer": {
      "post": {
        "tags": [
          "Community",
          "Mod"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        },
        "summary": "Transfer your community to an existing moderator."
      }
    },
    "/community/ban_user": {
      "post": {
        "tags": [
          "Community",
          "Mod"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BanFromCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BanFromCommunityResponse"
                }
              }
            }
          }
        },
        "summary": "Ban a user from a community."
      }
    },
    "/community/mod": {
      "post": {
        "tags": [
          "Community",
          "Mod"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddModToCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddModToCommunityResponse"
                }
              }
            }
          }
        },
        "summary": "Add a moderator to your community."
      }
    },
    "/federated_instances": {
      "get": {
        "tags": [
          "Miscellaneous"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFederatedInstancesResponse"
                }
              }
            }
          }
        },
        "summary": "Fetch federated instances."
      }
    },
    "/post": {
      "get": {
        "tags": [
          "Post"
        ],
        "parameters": [
          {
            "name": "GetPost",
            "in": "query",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/GetPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPostResponse"
                }
              }
            }
          }
        },
        "summary": "Get / fetch a post."
      },
      "put": {
        "tags": [
          "Post"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditPost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        },
        "summary": "Edit a post."
      },
      "post": {
        "tags": [
          "Post"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        },
        "summary": "Create a post."
      }
    },
    "/post/list": {
      "get": {
        "tags": [
          "Post"
        ],
        "parameters": [
          {
            "name": "GetPosts",
            "explode": true,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPosts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPostsResponse"
                }
              }
            }
          }
        },
        "summary": "Get / fetch posts, with various filters."
      }
    },
    "/post/delete": {
      "post": {
        "tags": [
          "Post"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        },
        "summary": "Delete a post."
      }
    },
    "/post/remove": {
      "post": {
        "tags": [
          "Post"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemovePost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        },
        "summary": "A moderator remove for a post."
      }
    },
    "/post/mark_as_read": {
      "post": {
        "tags": [
          "Post"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkPostAsRead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Mark a post as read."
      }
    },
    "/post/lock": {
      "post": {
        "tags": [
          "Post"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LockPost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        },
        "summary": "A moderator can lock a post ( IE disable new comments )."
      }
    },
    "/post/feature": {
      "post": {
        "tags": [
          "Post"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeaturePost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        },
        "summary": "A moderator can feature a community post ( IE stick it to the top of a community )."
      }
    },
    "/post/like": {
      "post": {
        "tags": [
          "Post"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostLike"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        },
        "summary": "Like / vote on a post."
      }
    },
    "/post/save": {
      "put": {
        "tags": [
          "Post"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SavePost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        },
        "summary": "Save a post."
      }
    },
    "/post/report": {
      "post": {
        "tags": [
          "Post"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostReport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostReportResponse"
                }
              }
            }
          }
        },
        "summary": "Report a post."
      }
    },
    "/post/report/resolve": {
      "put": {
        "tags": [
          "Post"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolvePostReport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostReportResponse"
                }
              }
            }
          }
        },
        "summary": "Resolve a post report. Only a mod can do this."
      }
    },
    "/post/report/list": {
      "get": {
        "tags": [
          "Post"
        ],
        "parameters": [
          {
            "name": "ListPostReports",
            "explode": true,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListPostReports"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPostReportsResponse"
                }
              }
            }
          }
        },
        "summary": "List post reports."
      }
    },
    "/post/site_metadata": {
      "get": {
        "tags": [
          "Post"
        ],
        "parameters": [
          {
            "name": "GetSiteMetadata",
            "in": "query",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/GetSiteMetadata"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteMetadataResponse"
                }
              }
            }
          }
        },
        "summary": "Fetch metadata for any given site."
      }
    },
    "/comment": {
      "get": {
        "tags": [
          "Comment"
        ],
        "parameters": [
          {
            "name": "GetComment",
            "in": "query",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/GetComment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        },
        "summary": "Get / fetch comment."
      },
      "post": {
        "tags": [
          "Comment"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        },
        "summary": "Create a comment."
      },
      "put": {
        "tags": [
          "Comment"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        },
        "summary": "Edit a comment."
      }
    },
    "/comment/list": {
      "get": {
        "tags": [
          "Comment"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "GetComments",
            "schema": {
              "$ref": "#/components/schemas/GetComments"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommentsResponse"
                }
              }
            }
          }
        },
        "summary": "Get / fetch comments."
      }
    },
    "/comment/delete": {
      "post": {
        "tags": [
          "Comment"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        },
        "summary": "Delete a comment."
      }
    },
    "/comment/remove": {
      "post": {
        "tags": [
          "Comment"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        },
        "summary": "A moderator remove for a comment."
      }
    },
    "/comment/mark_as_read": {
      "post": {
        "tags": [
          "Comment"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkCommentReplyAsRead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentReplyResponse"
                }
              }
            }
          }
        },
        "summary": "Mark a comment as read."
      }
    },
    "/comment/distinguish": {
      "post": {
        "tags": [
          "Comment"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DistinguishComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        },
        "summary": "Distinguishes a comment (speak as moderator)"
      }
    },
    "/comment/like": {
      "post": {
        "tags": [
          "Post"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentLike"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        },
        "summary": "Like / vote on a comment."
      }
    },
    "/comment/save": {
      "put": {
        "tags": [
          "Comment"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        },
        "summary": "Save a comment."
      }
    },
    "/comment/report": {
      "post": {
        "tags": [
          "Comment"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentReport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentReportResponse"
                }
              }
            }
          }
        },
        "summary": "Report a comment."
      }
    },
    "/comment/report/resolve": {
      "put": {
        "tags": [
          "Comment"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveCommentReport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentReportResponse"
                }
              }
            }
          }
        },
        "summary": "Resolve a comment report. Only a mod can do this."
      }
    },
    "/comment/report/list": {
      "get": {
        "tags": [
          "Comment"
        ],
        "parameters": [
          {
            "name": "ListCommentReports",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommentReports"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCommentReportsResponse"
                }
              }
            }
          }
        },
        "summary": "List comment reports."
      }
    },
    "/private_message": {
      "put": {
        "tags": [
          "PrivateMessage"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditPrivateMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageResponse"
                }
              }
            }
          }
        },
        "summary": "Edit a private message."
      },
      "post": {
        "tags": [
          "PrivateMessage"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePrivateMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageResponse"
                }
              }
            }
          }
        },
        "summary": "Create a private message."
      }
    },
    "/private_message/list": {
      "get": {
        "tags": [
          "PrivateMessage"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "GetPrivateMessages",
            "schema": {
              "$ref": "#/components/schemas/GetPrivateMessages"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessagesResponse"
                }
              }
            }
          }
        },
        "summary": "Get / fetch private messages."
      }
    },
    "/private_message/delete": {
      "post": {
        "tags": [
          "PrivateMessage"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePrivateMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageResponse"
                }
              }
            }
          }
        },
        "summary": "Delete a private message."
      }
    },
    "/private_message/mark_as_read": {
      "post": {
        "tags": [
          "PrivateMessage"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkPrivateMessageAsRead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageResponse"
                }
              }
            }
          }
        },
        "summary": "Mark a private message as read."
      }
    },
    "/private_message/report": {
      "post": {
        "tags": [
          "PrivateMessage"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePrivateMessageReport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageReportResponse"
                }
              }
            }
          }
        },
        "summary": "Create a report for a private message."
      }
    },
    "/private_message/report/resolve": {
      "put": {
        "tags": [
          "PrivateMessage"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolvePrivateMessageReport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageReportResponse"
                }
              }
            }
          }
        },
        "summary": "Resolve a report for a private message."
      }
    },
    "/private_message/report/list": {
      "get": {
        "tags": [
          "PrivateMessage"
        ],
        "parameters": [
          {
            "name": "ListPrivateMessageReports",
            "in": "query",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/ListPrivateMessageReports"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPrivateMessageReportsResponse"
                }
              }
            }
          }
        },
        "summary": "List private message reports."
      }
    },
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "GetPersonDetails",
            "in": "query",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/GetPersonDetails"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPersonDetailsResponse"
                }
              }
            }
          }
        },
        "summary": "Get the details for a person."
      }
    },
    "/user/register": {
      "post": {
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Register"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse",
                  "description": "JWT will be empty if registration requires email verification or application approval"
                }
              }
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponseRegistration"
                }
              }
            }
          }
        },
        "summary": "Register a new user."
      }
    },
    "/user/get_captcha": {
      "get": {
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCaptchaResponse"
                }
              }
            }
          }
        },
        "summary": "Fetch a Captcha."
      }
    },
    "/user/mention": {
      "get": {
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "GetPersonMentions",
            "in": "query",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/GetPersonMentions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPersonMentionsResponse"
                }
              }
            }
          }
        },
        "summary": "Get mentions for your user."
      }
    },
    "/user/mention/mark_as_read": {
      "post": {
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkPersonMentionAsRead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonMentionResponse"
                }
              }
            }
          }
        },
        "summary": "Mark a person mention as read."
      }
    },
    "/user/replies": {
      "get": {
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "GetReplies",
            "in": "query",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/GetReplies"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRepliesResponse"
                }
              }
            }
          }
        },
        "summary": "Get comment replies."
      }
    },
    "/user/ban": {
      "post": {
        "tags": [
          "User",
          "Admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BanPerson"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BanPersonResponse"
                }
              }
            }
          }
        },
        "summary": "Ban a person from your site."
      }
    },
    "/user/banned": {
      "get": {
        "tags": [
          "User",
          "Admin"
        ],
        "operationId": "getBannedPersons",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BannedPersonsResponse"
                }
              }
            }
          }
        },
        "summary": "Get a list of banned users"
      }
    },
    "/user/block": {
      "post": {
        "tags": [
          "User",
          "Admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockPerson"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockPersonResponse"
                }
              }
            }
          }
        },
        "summary": "Block a person."
      }
    },
    "/user/login": {
      "post": {
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponseLogin"
                }
              }
            }
          }
        },
        "summary": "Log into lemmy."
      }
    },
    "/user/delete_account": {
      "post": {
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAccount"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Delete your account."
      }
    },
    "/user/password_reset": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "resetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordReset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Reset your password."
      }
    },
    "/user/password_change": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "changePasswordAfterReset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordChangeAfterReset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Change your password from an email / token based reset."
      }
    },
    "/user/mark_all_as_read": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "markAllAsRead",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRepliesResponse"
                }
              }
            }
          }
        },
        "summary": "Mark all replies as read."
      }
    },
    "/user/save_user_settings": {
      "put": {
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveUserSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Save your user settings."
      }
    },
    "/user/change_password": {
      "put": {
        "tags": [
          "User"
        ],
        "operationId": "changePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        },
        "summary": "Change your user password."
      }
    },
    "/user/report_count": {
      "get": {
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "GetReportCount",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/GetReportCount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReportCountResponse"
                }
              }
            }
          }
        },
        "summary": "Get counts for your reports"
      }
    },
    "/user/unread_count": {
      "get": {
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnreadCountResponse"
                }
              }
            }
          }
        },
        "summary": "Get your unread counts"
      }
    },
    "/user/verify_email": {
      "post": {
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmail"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "summary": "Verify your email"
      }
    },
    "/user/leave_admin": {
      "post": {
        "tags": [
          "User",
          "Admin"
        ],
        "operationId": "leaveAdmin",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteResponse"
                }
              }
            }
          }
        },
        "summary": "Leave the Site admins."
      }
    },
    "/user/donation_dialog_shown": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "markDonationDialogShown",
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "summary": "Mark donation dialog as shown."
      }
    },
    "/admin/add": {
      "post": {
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAdmin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddAdminResponse"
                }
              }
            }
          }
        },
        "summary": "Add an admin to your site."
      }
    },
    "/admin/registration_application/count": {
      "get": {
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnreadRegistrationApplicationCountResponse"
                }
              }
            }
          }
        },
        "summary": "Get the unread registration applications count."
      }
    },
    "/admin/registration_application/list": {
      "get": {
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "in": "query",
            "explode": true,
            "name": "ListRegistrationApplications",
            "schema": {
              "$ref": "#/components/schemas/ListRegistrationApplications"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRegistrationApplicationsResponse"
                }
              }
            }
          }
        },
        "summary": "List the registration applications."
      }
    },
    "/admin/registration_application/approve": {
      "put": {
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveRegistrationApplication"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationApplicationResponse"
                }
              }
            }
          }
        },
        "summary": "Approve a registration application"
      }
    },
    "/admin/purge/person": {
      "post": {
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurgePerson"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "summary": "Purge / Delete a person from the database."
      }
    },
    "/admin/purge/community": {
      "post": {
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurgeCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "summary": "Purge / Delete a community from the database."
      }
    },
    "/admin/purge/post": {
      "post": {
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurgePost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "summary": "Purge / Delete a post from the database."
      }
    },
    "/admin/purge/comment": {
      "post": {
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurgeComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "summary": "Purge / Delete a comment from the database."
      }
    },
    "/custom_emoji": {
      "put": {
        "tags": [
          "CustomEmoji"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditCustomEmoji"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomEmojiResponse"
                }
              }
            }
          }
        },
        "summary": "Edit an existing custom emoji"
      },
      "post": {
        "tags": [
          "CustomEmoji"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomEmoji"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomEmojiResponse"
                }
              }
            }
          }
        },
        "summary": "Create a new custom emoji"
      }
    },
    "/custom_emoji/delete": {
      "post": {
        "tags": [
          "CustomEmoji"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCustomEmoji"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Delete a custom emoji"
      }
    },
    "/site/block": {
      "post": {
        "tags": [
          "Site",
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockInstance"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockInstanceResponse"
                }
              }
            }
          }
        },
        "summary": "Block an instance."
      }
    },
    "/user/totp/generate": {
      "post": {
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTotpSecretResponse"
                }
              }
            }
          }
        },
        "summary": "Generate a TOTP / two-factor secret.\r\r Afterwards you need to call `/user/totp/update` with a valid token to enable it."
      }
    },
    "/user/totp/update": {
      "post": {
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTotp"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTotpResponse"
                }
              }
            }
          }
        },
        "summary": "Enable / Disable TOTP / two-factor authentication.\r\r To enable, you need to first call `/user/totp/generate` and then pass a valid token to this.\r\r Disabling is only possible if 2FA was previously enabled. Again it is necessary to pass a valid token."
      }
    },
    "/user/export_settings": {
      "get": {
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportUserSettingsResponse"
                }
              }
            }
          }
        },
        "summary": "Export a backup of your user settings, including your saved content,\r followed communities, and blocks."
      }
    },
    "/user/import_settings": {
      "post": {
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportUserSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Import a backup of your user settings."
      }
    },
    "/user/list_logins": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "listLogins",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LoginToken"
                  }
                }
              }
            }
          }
        },
        "summary": "List login tokens for your user"
      }
    },
    "/user/validate_auth": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "validateAuth",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "summary": "Returns an error message if your auth token is invalid"
      }
    },
    "/user/logout": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "User"
        ],
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Invalidate the currently used auth token."
      }
    },
    "/post/like/list": {
      "get": {
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPostLikes"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPostLikesResponse"
                }
              }
            }
          }
        },
        "summary": "List a post's likes. Admin-only."
      }
    },
    "/comment/like/list": {
      "get": {
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCommentLikes"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCommentLikesResponse"
                }
              }
            }
          }
        },
        "summary": "List a comment's likes. Admin-only."
      }
    },
    "/account/list_media": {
      "get": {
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMedia"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMediaResponse"
                }
              }
            }
          }
        },
        "summary": "List all the media for your user"
      }
    },
    "/admin/list_all_media": {
      "get": {
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMedia"
              }
            }
          }
        },
        "operationId": "listAllMedia",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMediaResponse"
                }
              }
            }
          }
        },
        "summary": "List all the media known to your instance."
      }
    },
    "/post/hide": {
      "post": {
        "tags": [
          "Post"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HidePost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Hide a post from list views."
      }
    },
    "/admin/registration_application": {
      "get": {
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRegistrationApplication"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationApplicationResponse"
                }
              }
            }
          }
        },
        "summary": "Get the application a user submitted when they first registered their account"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "auth"
      }
    },
    "schemas": {
      "errorResponseRegistration": {
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "registration_closed",
              "email_required",
              "registration_application_answer_required",
              "passwords_do_not_match",
              "captcha_incorrect",
              "email_already_exists",
              "user_already_exists"
            ]
          }
        }
      },
      "errorResponseLogin": {
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "incorrect_login",
              "email_not_verified",
              "registration_denied",
              "registration_application_pending",
              "registration_application_is_pending",
              "missing_totp_token",
              "incorrect_totp_token"
            ]
          }
        }
      },
      "ExportUserSettingsResponse": {
        "type": "string"
      },
      "ImportUserSettings": {
        "type": "string"
      },
      "SiteId": {
        "title": "SiteId",
        "type": "integer"
      },
      "InstanceId": {
        "title": "InstanceId",
        "type": "integer"
      },
      "Site": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/SiteId",
            "title": "Site.id"
          },
          "name": {
            "title": "Site.name",
            "type": "string"
          },
          "sidebar": {
            "title": "Site.sidebar",
            "type": "string"
          },
          "published": {
            "title": "Site.published",
            "type": "string"
          },
          "updated": {
            "title": "Site.updated",
            "type": "string"
          },
          "icon": {
            "title": "Site.icon",
            "type": "string"
          },
          "banner": {
            "title": "Site.banner",
            "type": "string"
          },
          "description": {
            "title": "Site.description",
            "type": "string"
          },
          "actor_id": {
            "title": "Site.actor_id",
            "type": "string"
          },
          "last_refreshed_at": {
            "title": "Site.last_refreshed_at",
            "type": "string"
          },
          "inbox_url": {
            "title": "Site.inbox_url",
            "type": "string"
          },
          "public_key": {
            "title": "Site.public_key",
            "type": "string"
          },
          "instance_id": {
            "$ref": "#/components/schemas/InstanceId",
            "title": "Site.instance_id"
          },
          "content_warning": {
            "title": "Site.content_warning",
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "published",
          "actor_id",
          "last_refreshed_at",
          "inbox_url",
          "public_key",
          "instance_id"
        ],
        "additionalProperties": false,
        "title": "Site",
        "type": "object"
      },
      "LocalSiteId": {
        "title": "LocalSiteId",
        "type": "integer"
      },
      "ListingType": {
        "enum": [
          "All",
          "Local",
          "Subscribed",
          "ModeratorView"
        ],
        "title": "ListingType",
        "type": "string"
      },
      "RegistrationMode": {
        "enum": [
          "Closed",
          "RequireApplication",
          "Open"
        ],
        "title": "RegistrationMode",
        "type": "string"
      },
      "PostListingMode": {
        "enum": [
          "List",
          "Card",
          "SmallCard"
        ],
        "title": "PostListingMode",
        "type": "string"
      },
      "SortType": {
        "enum": [
          "Active",
          "Hot",
          "New",
          "Old",
          "TopDay",
          "TopWeek",
          "TopMonth",
          "TopYear",
          "TopAll",
          "MostComments",
          "NewComments",
          "TopHour",
          "TopSixHour",
          "TopTwelveHour",
          "TopThreeMonths",
          "TopSixMonths",
          "TopNineMonths",
          "Controversial",
          "Scaled"
        ],
        "title": "SortType",
        "type": "string"
      },
      "LocalSite": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/LocalSiteId",
            "title": "LocalSite.id"
          },
          "site_id": {
            "$ref": "#/components/schemas/SiteId",
            "title": "LocalSite.site_id"
          },
          "site_setup": {
            "title": "LocalSite.site_setup",
            "type": "boolean"
          },
          "enable_downvotes": {
            "title": "LocalSite.enable_downvotes",
            "type": "boolean"
          },
          "enable_nsfw": {
            "title": "LocalSite.enable_nsfw",
            "type": "boolean"
          },
          "community_creation_admin_only": {
            "title": "LocalSite.community_creation_admin_only",
            "type": "boolean"
          },
          "require_email_verification": {
            "title": "LocalSite.require_email_verification",
            "type": "boolean"
          },
          "application_question": {
            "title": "LocalSite.application_question",
            "type": "string"
          },
          "private_instance": {
            "title": "LocalSite.private_instance",
            "type": "boolean"
          },
          "default_theme": {
            "title": "LocalSite.default_theme",
            "type": "string"
          },
          "default_post_listing_type": {
            "$ref": "#/components/schemas/ListingType",
            "title": "LocalSite.default_post_listing_type"
          },
          "legal_information": {
            "title": "LocalSite.legal_information",
            "type": "string"
          },
          "hide_modlog_mod_names": {
            "title": "LocalSite.hide_modlog_mod_names",
            "type": "boolean"
          },
          "application_email_admins": {
            "title": "LocalSite.application_email_admins",
            "type": "boolean"
          },
          "slur_filter_regex": {
            "title": "LocalSite.slur_filter_regex",
            "type": "string"
          },
          "actor_name_max_length": {
            "title": "LocalSite.actor_name_max_length",
            "type": "integer"
          },
          "federation_enabled": {
            "title": "LocalSite.federation_enabled",
            "type": "boolean"
          },
          "captcha_enabled": {
            "title": "LocalSite.captcha_enabled",
            "type": "boolean"
          },
          "captcha_difficulty": {
            "title": "LocalSite.captcha_difficulty",
            "type": "string"
          },
          "published": {
            "title": "LocalSite.published",
            "type": "string"
          },
          "updated": {
            "title": "LocalSite.updated",
            "type": "string"
          },
          "registration_mode": {
            "$ref": "#/components/schemas/RegistrationMode",
            "title": "LocalSite.registration_mode"
          },
          "reports_email_admins": {
            "title": "LocalSite.reports_email_admins",
            "type": "boolean"
          },
          "federation_signed_fetch": {
            "title": "LocalSite.federation_signed_fetch",
            "type": "boolean"
          },
          "default_post_listing_mode": {
            "$ref": "#/components/schemas/PostListingMode",
            "title": "LocalSite.default_post_listing_mode"
          },
          "default_sort_type": {
            "$ref": "#/components/schemas/SortType",
            "title": "LocalSite.default_sort_type"
          }
        },
        "required": [
          "id",
          "site_id",
          "site_setup",
          "enable_downvotes",
          "enable_nsfw",
          "community_creation_admin_only",
          "require_email_verification",
          "private_instance",
          "default_theme",
          "default_post_listing_type",
          "hide_modlog_mod_names",
          "application_email_admins",
          "actor_name_max_length",
          "federation_enabled",
          "captcha_enabled",
          "captcha_difficulty",
          "published",
          "registration_mode",
          "reports_email_admins",
          "federation_signed_fetch",
          "default_post_listing_mode",
          "default_sort_type"
        ],
        "additionalProperties": false,
        "title": "LocalSite",
        "type": "object"
      },
      "LocalSiteRateLimit": {
        "properties": {
          "local_site_id": {
            "$ref": "#/components/schemas/LocalSiteId",
            "title": "LocalSiteRateLimit.local_site_id"
          },
          "message": {
            "title": "LocalSiteRateLimit.message",
            "type": "integer"
          },
          "message_per_second": {
            "title": "LocalSiteRateLimit.message_per_second",
            "type": "integer"
          },
          "post": {
            "title": "LocalSiteRateLimit.post",
            "type": "integer"
          },
          "post_per_second": {
            "title": "LocalSiteRateLimit.post_per_second",
            "type": "integer"
          },
          "register": {
            "title": "LocalSiteRateLimit.register",
            "type": "integer"
          },
          "register_per_second": {
            "title": "LocalSiteRateLimit.register_per_second",
            "type": "integer"
          },
          "image": {
            "title": "LocalSiteRateLimit.image",
            "type": "integer"
          },
          "image_per_second": {
            "title": "LocalSiteRateLimit.image_per_second",
            "type": "integer"
          },
          "comment": {
            "title": "LocalSiteRateLimit.comment",
            "type": "integer"
          },
          "comment_per_second": {
            "title": "LocalSiteRateLimit.comment_per_second",
            "type": "integer"
          },
          "search": {
            "title": "LocalSiteRateLimit.search",
            "type": "integer"
          },
          "search_per_second": {
            "title": "LocalSiteRateLimit.search_per_second",
            "type": "integer"
          },
          "published": {
            "title": "LocalSiteRateLimit.published",
            "type": "string"
          },
          "updated": {
            "title": "LocalSiteRateLimit.updated",
            "type": "string"
          },
          "import_user_settings": {
            "title": "LocalSiteRateLimit.import_user_settings",
            "type": "integer"
          },
          "import_user_settings_per_second": {
            "title": "LocalSiteRateLimit.import_user_settings_per_second",
            "type": "integer"
          }
        },
        "required": [
          "local_site_id",
          "message",
          "message_per_second",
          "post",
          "post_per_second",
          "register",
          "register_per_second",
          "image",
          "image_per_second",
          "comment",
          "comment_per_second",
          "search",
          "search_per_second",
          "published",
          "import_user_settings",
          "import_user_settings_per_second"
        ],
        "additionalProperties": false,
        "title": "LocalSiteRateLimit",
        "type": "object"
      },
      "SiteAggregates": {
        "properties": {
          "site_id": {
            "$ref": "#/components/schemas/SiteId",
            "title": "SiteAggregates.site_id"
          },
          "users": {
            "title": "SiteAggregates.users",
            "type": "integer"
          },
          "posts": {
            "title": "SiteAggregates.posts",
            "type": "integer"
          },
          "comments": {
            "title": "SiteAggregates.comments",
            "type": "integer"
          },
          "communities": {
            "title": "SiteAggregates.communities",
            "type": "integer"
          },
          "users_active_day": {
            "title": "SiteAggregates.users_active_day",
            "type": "integer"
          },
          "users_active_week": {
            "title": "SiteAggregates.users_active_week",
            "type": "integer"
          },
          "users_active_month": {
            "title": "SiteAggregates.users_active_month",
            "type": "integer"
          },
          "users_active_half_year": {
            "title": "SiteAggregates.users_active_half_year",
            "type": "integer"
          }
        },
        "required": [
          "site_id",
          "users",
          "posts",
          "comments",
          "communities",
          "users_active_day",
          "users_active_week",
          "users_active_month",
          "users_active_half_year"
        ],
        "additionalProperties": false,
        "title": "SiteAggregates",
        "type": "object"
      },
      "SiteView": {
        "properties": {
          "site": {
            "$ref": "#/components/schemas/Site",
            "title": "SiteView.site"
          },
          "local_site": {
            "$ref": "#/components/schemas/LocalSite",
            "title": "SiteView.local_site"
          },
          "local_site_rate_limit": {
            "$ref": "#/components/schemas/LocalSiteRateLimit",
            "title": "SiteView.local_site_rate_limit"
          },
          "counts": {
            "$ref": "#/components/schemas/SiteAggregates",
            "title": "SiteView.counts"
          }
        },
        "required": [
          "site",
          "local_site",
          "local_site_rate_limit",
          "counts"
        ],
        "additionalProperties": false,
        "title": "SiteView",
        "type": "object"
      },
      "PersonId": {
        "title": "PersonId",
        "type": "integer"
      },
      "Person": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/PersonId",
            "title": "Person.id"
          },
          "name": {
            "title": "Person.name",
            "type": "string"
          },
          "display_name": {
            "title": "Person.display_name",
            "type": "string"
          },
          "avatar": {
            "title": "Person.avatar",
            "type": "string"
          },
          "banned": {
            "title": "Person.banned",
            "type": "boolean"
          },
          "published": {
            "title": "Person.published",
            "type": "string"
          },
          "updated": {
            "title": "Person.updated",
            "type": "string"
          },
          "actor_id": {
            "title": "Person.actor_id",
            "type": "string"
          },
          "bio": {
            "title": "Person.bio",
            "type": "string"
          },
          "local": {
            "title": "Person.local",
            "type": "boolean"
          },
          "banner": {
            "title": "Person.banner",
            "type": "string"
          },
          "deleted": {
            "title": "Person.deleted",
            "type": "boolean"
          },
          "matrix_user_id": {
            "title": "Person.matrix_user_id",
            "type": "string"
          },
          "bot_account": {
            "title": "Person.bot_account",
            "type": "boolean"
          },
          "ban_expires": {
            "title": "Person.ban_expires",
            "type": "string"
          },
          "instance_id": {
            "$ref": "#/components/schemas/InstanceId",
            "title": "Person.instance_id"
          }
        },
        "required": [
          "id",
          "name",
          "banned",
          "published",
          "actor_id",
          "local",
          "deleted",
          "bot_account",
          "instance_id"
        ],
        "additionalProperties": false,
        "title": "Person",
        "type": "object"
      },
      "PersonAggregates": {
        "properties": {
          "person_id": {
            "$ref": "#/components/schemas/PersonId",
            "title": "PersonAggregates.person_id"
          },
          "post_count": {
            "title": "PersonAggregates.post_count",
            "type": "integer"
          },
          "comment_count": {
            "title": "PersonAggregates.comment_count",
            "type": "integer"
          }
        },
        "required": [
          "person_id",
          "post_count",
          "comment_count"
        ],
        "additionalProperties": false,
        "title": "PersonAggregates",
        "type": "object"
      },
      "PersonView": {
        "properties": {
          "person": {
            "$ref": "#/components/schemas/Person",
            "title": "PersonView.person"
          },
          "counts": {
            "$ref": "#/components/schemas/PersonAggregates",
            "title": "PersonView.counts"
          },
          "is_admin": {
            "title": "PersonView.is_admin",
            "type": "boolean"
          }
        },
        "required": [
          "person",
          "counts",
          "is_admin"
        ],
        "additionalProperties": false,
        "title": "PersonView",
        "type": "object"
      },
      "LocalUserId": {
        "title": "LocalUserId",
        "type": "integer"
      },
      "LocalUser": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/LocalUserId",
            "title": "LocalUser.id"
          },
          "person_id": {
            "$ref": "#/components/schemas/PersonId",
            "title": "LocalUser.person_id"
          },
          "email": {
            "title": "LocalUser.email",
            "type": "string"
          },
          "show_nsfw": {
            "title": "LocalUser.show_nsfw",
            "type": "boolean"
          },
          "theme": {
            "title": "LocalUser.theme",
            "type": "string"
          },
          "default_sort_type": {
            "$ref": "#/components/schemas/SortType",
            "title": "LocalUser.default_sort_type"
          },
          "default_listing_type": {
            "$ref": "#/components/schemas/ListingType",
            "title": "LocalUser.default_listing_type"
          },
          "interface_language": {
            "title": "LocalUser.interface_language",
            "type": "string"
          },
          "show_avatars": {
            "title": "LocalUser.show_avatars",
            "type": "boolean"
          },
          "send_notifications_to_email": {
            "title": "LocalUser.send_notifications_to_email",
            "type": "boolean"
          },
          "show_scores": {
            "title": "LocalUser.show_scores",
            "type": "boolean"
          },
          "show_bot_accounts": {
            "title": "LocalUser.show_bot_accounts",
            "type": "boolean"
          },
          "show_read_posts": {
            "title": "LocalUser.show_read_posts",
            "type": "boolean"
          },
          "email_verified": {
            "title": "LocalUser.email_verified",
            "type": "boolean"
          },
          "accepted_application": {
            "title": "LocalUser.accepted_application",
            "type": "boolean"
          },
          "open_links_in_new_tab": {
            "title": "LocalUser.open_links_in_new_tab",
            "type": "boolean"
          },
          "blur_nsfw": {
            "title": "LocalUser.blur_nsfw",
            "type": "boolean"
          },
          "auto_expand": {
            "title": "LocalUser.auto_expand",
            "type": "boolean"
          },
          "infinite_scroll_enabled": {
            "title": "LocalUser.infinite_scroll_enabled",
            "type": "boolean"
          },
          "admin": {
            "title": "LocalUser.admin",
            "type": "boolean"
          },
          "post_listing_mode": {
            "$ref": "#/components/schemas/PostListingMode",
            "title": "LocalUser.post_listing_mode"
          },
          "totp_2fa_enabled": {
            "title": "LocalUser.totp_2fa_enabled",
            "type": "boolean"
          },
          "enable_keyboard_navigation": {
            "title": "LocalUser.enable_keyboard_navigation",
            "type": "boolean"
          },
          "enable_animated_images": {
            "title": "LocalUser.enable_animated_images",
            "type": "boolean"
          },
          "collapse_bot_comments": {
            "title": "LocalUser.collapse_bot_comments",
            "type": "boolean"
          },
          "last_donation_notification": {
            "title": "LocalUser.last_donation_notification",
            "type": "string"
          }
        },
        "required": [
          "id",
          "person_id",
          "show_nsfw",
          "theme",
          "default_sort_type",
          "default_listing_type",
          "interface_language",
          "show_avatars",
          "send_notifications_to_email",
          "show_scores",
          "show_bot_accounts",
          "show_read_posts",
          "email_verified",
          "accepted_application",
          "open_links_in_new_tab",
          "blur_nsfw",
          "auto_expand",
          "infinite_scroll_enabled",
          "admin",
          "post_listing_mode",
          "totp_2fa_enabled",
          "enable_keyboard_navigation",
          "enable_animated_images",
          "collapse_bot_comments",
          "last_donation_notification"
        ],
        "additionalProperties": false,
        "title": "LocalUser",
        "type": "object"
      },
      "LocalUserVoteDisplayMode": {
        "properties": {
          "local_user_id": {
            "$ref": "#/components/schemas/LocalUserId",
            "title": "LocalUserVoteDisplayMode.local_user_id"
          },
          "score": {
            "title": "LocalUserVoteDisplayMode.score",
            "type": "boolean"
          },
          "upvotes": {
            "title": "LocalUserVoteDisplayMode.upvotes",
            "type": "boolean"
          },
          "downvotes": {
            "title": "LocalUserVoteDisplayMode.downvotes",
            "type": "boolean"
          },
          "upvote_percentage": {
            "title": "LocalUserVoteDisplayMode.upvote_percentage",
            "type": "boolean"
          }
        },
        "required": [
          "local_user_id",
          "score",
          "upvotes",
          "downvotes",
          "upvote_percentage"
        ],
        "additionalProperties": false,
        "title": "LocalUserVoteDisplayMode",
        "type": "object"
      },
      "LocalUserView": {
        "properties": {
          "local_user": {
            "$ref": "#/components/schemas/LocalUser",
            "title": "LocalUserView.local_user"
          },
          "local_user_vote_display_mode": {
            "$ref": "#/components/schemas/LocalUserVoteDisplayMode",
            "title": "LocalUserView.local_user_vote_display_mode"
          },
          "person": {
            "$ref": "#/components/schemas/Person",
            "title": "LocalUserView.person"
          },
          "counts": {
            "$ref": "#/components/schemas/PersonAggregates",
            "title": "LocalUserView.counts"
          }
        },
        "required": [
          "local_user",
          "local_user_vote_display_mode",
          "person",
          "counts"
        ],
        "additionalProperties": false,
        "title": "LocalUserView",
        "type": "object"
      },
      "CommunityId": {
        "title": "CommunityId",
        "type": "integer"
      },
      "CommunityVisibility": {
        "enum": [
          "Public",
          "LocalOnly"
        ],
        "title": "CommunityVisibility",
        "type": "string"
      },
      "Community": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CommunityId",
            "title": "Community.id"
          },
          "name": {
            "title": "Community.name",
            "type": "string"
          },
          "title": {
            "title": "Community.title",
            "type": "string"
          },
          "description": {
            "title": "Community.description",
            "type": "string"
          },
          "removed": {
            "title": "Community.removed",
            "type": "boolean"
          },
          "published": {
            "title": "Community.published",
            "type": "string"
          },
          "updated": {
            "title": "Community.updated",
            "type": "string"
          },
          "deleted": {
            "title": "Community.deleted",
            "type": "boolean"
          },
          "nsfw": {
            "title": "Community.nsfw",
            "type": "boolean"
          },
          "actor_id": {
            "title": "Community.actor_id",
            "type": "string"
          },
          "local": {
            "title": "Community.local",
            "type": "boolean"
          },
          "icon": {
            "title": "Community.icon",
            "type": "string"
          },
          "banner": {
            "title": "Community.banner",
            "type": "string"
          },
          "hidden": {
            "title": "Community.hidden",
            "type": "boolean"
          },
          "posting_restricted_to_mods": {
            "title": "Community.posting_restricted_to_mods",
            "type": "boolean"
          },
          "instance_id": {
            "$ref": "#/components/schemas/InstanceId",
            "title": "Community.instance_id"
          },
          "visibility": {
            "$ref": "#/components/schemas/CommunityVisibility",
            "title": "Community.visibility"
          }
        },
        "required": [
          "id",
          "name",
          "title",
          "removed",
          "published",
          "deleted",
          "nsfw",
          "actor_id",
          "local",
          "hidden",
          "posting_restricted_to_mods",
          "instance_id",
          "visibility"
        ],
        "additionalProperties": false,
        "title": "Community",
        "type": "object"
      },
      "CommunityFollowerView": {
        "properties": {
          "community": {
            "$ref": "#/components/schemas/Community",
            "title": "CommunityFollowerView.community"
          },
          "follower": {
            "$ref": "#/components/schemas/Person",
            "title": "CommunityFollowerView.follower"
          }
        },
        "required": [
          "community",
          "follower"
        ],
        "additionalProperties": false,
        "title": "CommunityFollowerView",
        "type": "object"
      },
      "CommunityModeratorView": {
        "properties": {
          "community": {
            "$ref": "#/components/schemas/Community",
            "title": "CommunityModeratorView.community"
          },
          "moderator": {
            "$ref": "#/components/schemas/Person",
            "title": "CommunityModeratorView.moderator"
          }
        },
        "required": [
          "community",
          "moderator"
        ],
        "additionalProperties": false,
        "title": "CommunityModeratorView",
        "type": "object"
      },
      "CommunityBlockView": {
        "properties": {
          "person": {
            "$ref": "#/components/schemas/Person",
            "title": "CommunityBlockView.person"
          },
          "community": {
            "$ref": "#/components/schemas/Community",
            "title": "CommunityBlockView.community"
          }
        },
        "required": [
          "person",
          "community"
        ],
        "additionalProperties": false,
        "title": "CommunityBlockView",
        "type": "object"
      },
      "Instance": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/InstanceId",
            "title": "Instance.id"
          },
          "domain": {
            "title": "Instance.domain",
            "type": "string"
          },
          "published": {
            "title": "Instance.published",
            "type": "string"
          },
          "updated": {
            "title": "Instance.updated",
            "type": "string"
          },
          "software": {
            "title": "Instance.software",
            "type": "string"
          },
          "version": {
            "title": "Instance.version",
            "type": "string"
          }
        },
        "required": [
          "id",
          "domain",
          "published"
        ],
        "additionalProperties": false,
        "title": "Instance",
        "type": "object"
      },
      "InstanceBlockView": {
        "properties": {
          "person": {
            "$ref": "#/components/schemas/Person",
            "title": "InstanceBlockView.person"
          },
          "instance": {
            "$ref": "#/components/schemas/Instance",
            "title": "InstanceBlockView.instance"
          },
          "site": {
            "$ref": "#/components/schemas/Site",
            "title": "InstanceBlockView.site"
          }
        },
        "required": [
          "person",
          "instance"
        ],
        "additionalProperties": false,
        "title": "InstanceBlockView",
        "type": "object"
      },
      "PersonBlockView": {
        "properties": {
          "person": {
            "$ref": "#/components/schemas/Person",
            "title": "PersonBlockView.person"
          },
          "target": {
            "$ref": "#/components/schemas/Person",
            "title": "PersonBlockView.target"
          }
        },
        "required": [
          "person",
          "target"
        ],
        "additionalProperties": false,
        "title": "PersonBlockView",
        "type": "object"
      },
      "LanguageId": {
        "title": "LanguageId",
        "type": "integer"
      },
      "MyUserInfo": {
        "properties": {
          "local_user_view": {
            "$ref": "#/components/schemas/LocalUserView",
            "title": "MyUserInfo.local_user_view"
          },
          "follows": {
            "items": {
              "$ref": "#/components/schemas/CommunityFollowerView"
            },
            "title": "MyUserInfo.follows",
            "type": "array"
          },
          "moderates": {
            "items": {
              "$ref": "#/components/schemas/CommunityModeratorView"
            },
            "title": "MyUserInfo.moderates",
            "type": "array"
          },
          "community_blocks": {
            "items": {
              "$ref": "#/components/schemas/CommunityBlockView"
            },
            "title": "MyUserInfo.community_blocks",
            "type": "array"
          },
          "instance_blocks": {
            "items": {
              "$ref": "#/components/schemas/InstanceBlockView"
            },
            "title": "MyUserInfo.instance_blocks",
            "type": "array"
          },
          "person_blocks": {
            "items": {
              "$ref": "#/components/schemas/PersonBlockView"
            },
            "title": "MyUserInfo.person_blocks",
            "type": "array"
          },
          "discussion_languages": {
            "items": {
              "$ref": "#/components/schemas/LanguageId"
            },
            "title": "MyUserInfo.discussion_languages",
            "type": "array"
          }
        },
        "required": [
          "local_user_view",
          "follows",
          "moderates",
          "community_blocks",
          "instance_blocks",
          "person_blocks",
          "discussion_languages"
        ],
        "additionalProperties": false,
        "title": "MyUserInfo",
        "type": "object"
      },
      "Language": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/LanguageId",
            "title": "Language.id"
          },
          "code": {
            "title": "Language.code",
            "type": "string"
          },
          "name": {
            "title": "Language.name",
            "type": "string"
          }
        },
        "required": [
          "id",
          "code",
          "name"
        ],
        "additionalProperties": false,
        "title": "Language",
        "type": "object"
      },
      "Tagline": {
        "properties": {
          "id": {
            "title": "Tagline.id",
            "type": "integer"
          },
          "local_site_id": {
            "$ref": "#/components/schemas/LocalSiteId",
            "title": "Tagline.local_site_id"
          },
          "content": {
            "title": "Tagline.content",
            "type": "string"
          },
          "published": {
            "title": "Tagline.published",
            "type": "string"
          },
          "updated": {
            "title": "Tagline.updated",
            "type": "string"
          }
        },
        "required": [
          "id",
          "local_site_id",
          "content",
          "published"
        ],
        "additionalProperties": false,
        "title": "Tagline",
        "type": "object"
      },
      "CustomEmojiId": {
        "title": "CustomEmojiId",
        "type": "integer"
      },
      "CustomEmoji": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CustomEmojiId",
            "title": "CustomEmoji.id"
          },
          "local_site_id": {
            "$ref": "#/components/schemas/LocalSiteId",
            "title": "CustomEmoji.local_site_id"
          },
          "shortcode": {
            "title": "CustomEmoji.shortcode",
            "type": "string"
          },
          "image_url": {
            "title": "CustomEmoji.image_url",
            "type": "string"
          },
          "alt_text": {
            "title": "CustomEmoji.alt_text",
            "type": "string"
[...]
